{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block seo %}
	{% endblock %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
<div class="container">
{% block content %}{%endblock%}
</div>
{% block js %}{% endblock %}
</body>
</html>