{% extends 'base.html' %}
{% load staticfiles %}
{% block seo %}
<title>Отправка данных</title>
{% endblock %}
{% block content %}
<h1>Форма отправки данных</h1>
<div id="form" class="form-group form-horizontal">
{% include 'form.html' %}
</div>
<div>
    <a href="{% url 'core:results' %}">Посмотреть результаты</a>
</div>
{% endblock %}
{% block js %}
<script src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
<script src="{% static 'js/ajax.js' %}"></script>
{% endblock %}