{% extends 'base.html' %}
{% block seo %}
<title>Просмотр результатов</title>
{% endblock %}
{% block content %}
<h1>Результаты</h1>
<table class="table">
<thead><tr><td>ID</td><td>Контент</td></tr></thead>
<tbody>
{% for text in texts %}
<tr><td>{{ text.id }}</td><td>{{ text.content }}</td></tr>
{% endfor %}
</tbody>
</table>
<a href="{% url 'core:main' %}">Добавить данные</a>
{% endblock %}